* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgrey;
}

.conteiner {
    background-color: lightblue;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 400px;
}
.item {
    background-color: lightpink;
    border: 1px solid black;
    padding: 16px;
}
#i1{

}
#i2{

}
#i3{
    
}
#i4{

}
#i5{

    }
#i6{

}