* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgrey;
}

.conteiner {
    background-color: lightblue;
    display: flex;
    flex-flow: row-reverse wrap;
}
.item {
    background-color: lightpink;
   border: 1px solid black;
   padding: 10px;
   flex: auto;
}