* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkgrey;
}

.conteiner {
    background-color: lightblue;
    display: flex;
}
.item {
    background-color: lightpink;
    flex: auto;
}